{{ if .Site.Params.authorCard }}
<div class="author-card" itemscope itemprop="author" itemtype="https://schema.org/Person">
    <div class="author-dp">
        <img itemprop='image' src="{{ .Site.Params.avatar }}" alt=".Site.Param.name" />
    </div>
    <div class="author-bio">
        <h4 class="author-title">
         About <span itemprop="name">{{ .Site.Params.author }}</span>
        </h4>
        <div class="author-description" itemprop="description">
        {{ .Site.Params.bio }}
        </div>
    </div>
</div>
{{ end}}