{{ range where .Paginator.Pages "Section" "ne" "" }}
<article class="list">
  <a href='{{ .URL }}'><h2 class="title">{{ .LinkTitle }}</h2></a>
  <span class="tags">
  {{ .Date.Format "January 2, 2006" }} 
  {{ if .Params.tags }}
     , posted under
     {{range .Params.tags}}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
     {{end}}
  {{end}}
  </span>
  {{ if .Params.featuredImage  }}
  <a href='{{ .URL }}'><span class="image" style="background-image: url({{.Params.featuredimage }})"></span></a>
  {{ end }}
  <span class="intro">{{ .Description | markdownify }}</span>
  <a href='{{ .URL }}' class="read-more">
      {{ if .Site.Params.readMore }} 
          {{.Site.Params.readMore}}
      {{ else }}
          Read Up
      {{ end }}
  </a>
</article>
{{ end }}
