{{ range where .Paginator.Pages "Section" "ne" "" }}
<article class="list">
  <a href='{{ .URL }}'><h2 class="title">{{ .LinkTitle }}</h2></a>
  {{ if .Params.topics }}<strong>Topics:</strong> {{range .Params.topics}}<a href="{{ "/topics/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}
  <a href='{{ .URL }}'><span class="image" style="background-image: url(https://www.yongfook.com/assets/images/montage/poster.jpg)"></span></a>
  <span class="intro">{{ .Description | markdownify }}</span>
  <a href='{{ .URL }}' class="read-more">Read Up</a>
</article>
{{ end }}
