{{ if .Site.Params.shareButton }}
<div class="share-card">
    <a class="twitter" href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .LinkTitle }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}"><i class="fa fa-twitter"></i> Tweet</a>

    <a class="facebook" href="#" onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
          'facebook-share-dialog',
          'width=626,height=436');
        return false;"><i class="fa fa-facebook"></i> {{ .Site.Params.share | default "Share" }}
    </a>
</div>
{{ end }}

