<div class="widgets">
  <section class="widget promo-subscribe">
      <h2 class="widget-title">Email Subscription</h2>
      <p class="promo-text">
        Improve your PHP skills with actionable tutorials delivered to your email.
      </p>
      <a href='https://tinyletter.com/ijsucceed' class='button'>Join For Free</a>
  </section>
  <section class="widget author">
    <h2 class="widget-title">About Succeed</h2>
    <div class="right">
      <img class="block author-photo" src="/images/me.jpg" width="60" alt="ijsucceed photo">
    </div>
    <div style="">
      <p>
      Welcome to my blog!
      </p>
      <p>
        I'm a web developer, templates designer, and Minimalist.
      </p>
      <p>
      You can find me on <a href="https://twitter.com/ijsucceed">twitter</a> and
      <a href="https://github.com/ijsucceed">GitHub</a>.
      </p>
     </div>
  </section>
</div>
